unset GOPATH
toplevel="$(git rev-parse --show-toplevel)"

[ "$(uname -s)" == "Linux" ] && machine="linux-$(uname -m)"
[ "$(uname -s)" == "Darwin" ] && machine="darwin-$(uname -m)"

GOROOT="$toplevel/.build/$machine/go/$(cat .go-version)"
PATH="$GOROOT/bin:$PATH"
export GOROOT PATH

[ -f .envrc.local ] && source_env .envrc.local
