toplevel="$(git rev-parse --show-toplevel)"
pushd $toplevel && make go-check && popd

# works on darwin and linux
machine="$(go env GOOS)-$(uname -m)"

GOROOT="$toplevel/.build/$machine/go/$(cat .go-version)"
PATH="$GOROOT/bin:$PATH"
export GOROOT PATH

[ -f .envrc.local ] && source_env .envrc.local
