toplevel="$(git rev-parse --show-toplevel)"

# ensure the pre-commit git hook is in place
pushd $toplevel/.git/hooks >/dev/null &&
    ln -sf ../../.githooks/pre-commit &&
    popd >/dev/null

# build the managed go sdk
pushd $toplevel >/dev/null &&
    make go-check &&
    popd >/dev/null

# detect os and architecture on darwin and linux
machine="$(go env GOOS)-$(uname -m)"

# export GOROOT and PATH for managed go sdk
GOROOT="$toplevel/.build/$machine/go/$(cat .go-version)"
PATH="$GOROOT/bin:$PATH"
export GOROOT PATH
