.artifacts
.build
.cache
*.swp
*.log
/vendor
test_results

artifact.tgz

control_plane/control_plane
node_agent/node_agent

plugin/agent/keymanager-memory/keymanager-memory
plugin/agent/nodeattestor-jointoken/nodeattestor-jointoken
plugin/agent/nodeattestor-secretfile/nodeattestor-secretfile
plugin/agent/workloadattestor-secretfile/workloadattestor-secretfile

plugin/server/ca-memory/ca-memory
plugin/server/datastore-sqlite/datastore-sqlite
plugin/server/nodeattestor-secretfile/nodeattestor-secretfile
plugin/server/noderesolver-noop/noop
plugin/server/noderesolver-noop/noderesolver-noop
plugin/server/upstreamca-memory/upstreamca-memory
