.artifacts
.build
.cache
*.swp
/vendor
test_results

artifact.tgz

control_plane/control_plane
control_plane/plugins/control_plane_ca/memory/memory
control_plane/plugins/data_store/sqlite/sqlite
control_plane/plugins/node_attestor/secret_file/secret_file
control_plane/plugins/noderesolver/noop/noop
control_plane/plugins/upstream_ca/memory/memory
control_plane/plugins/node_resolver/noop/noop

node_agent/node_agent
node_agent/plugins/key_manager/memory/memory
node_agent/plugins/node_attestor/aws/aws
node_agent/plugins/node_attestor/gcp/gcp
node_agent/plugins/node_attestor/secret_file/secret_file
node_agent/plugins/workload_attestor/secret_file/secret_file
