.build*
.cache
.data
.glide
.tmp
*.swp
*.log
/vendor
/test_results
/artifacts
/releases
bundle.*.pem
svid.*.key
svid.*.pem


cmd/spire-agent/spire-agent
cmd/spire-server/spire-server
support/k8s/k8s-workload-registrar/k8s-workload-registrar
support/oidc-discovery-provider/oidc-discovery-provider

functional/tools/stresstest/stresstest
functional/tools/tokengenerator/tokengenerator
functional/tools/workload/workload

tools/spire-plugingen/spire-plugingen

# Travis CI encrypted files decryption paths
.travis/spire-travis-ci.json

# Editor specific configuration
.idea
.vscode
