.artifacts
.cache
.build
/vendor
test_results

control_plane/control_plane
plugins/control_plane_ca/memory/memory
plugins/data_store/sqlite/sqlite
plugins/node_attestor/secret_file/secret_file
plugins/noderesolver/noop/noop
plugins/upstream_ca/memory/memory
plugins/node_resolver/noop/noop
