name: DCO
on:
  pull_request: {}
  workflow_dispatch: {}
  merge_group:
    types:
      - checks_requested
jobs:
  check-dco:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Set up Python 3.x
        uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
        with:
          python-version: '3.x'
      - name: Check DCO
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip3 install -U dco-check
          dco-check --exclude-pattern 'dependabot\[bot\]@users\.noreply\.github\.com'
