name: DCO
on:
  pull_request: {}
  workflow_dispatch: {}
  merge_group:
    types:
      - checks_requested
jobs:
  check-dco:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Set up Python 3.x
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: '3.x'
      - name: Check DCO
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip3 install -U dco-check
          dco-check --exclude-pattern 'dependabot\[bot\]@users\.noreply\.github\.com'
